<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Azure.*" />
      <package pattern="bunit.*" />
      <package pattern="coverlet.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Markdig" />
      <package pattern="Microsoft.*" />
      <package pattern="MudBlazor" />
      <package pattern="Spectre.*" />
      <package pattern="System.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="Xunit.*" />
    </packageSource>
    <packageSource key="github-agentblazor">
      <package pattern="AgentBlazor*" />
    </packageSource>
    <packageSource key="agentblazor-local">
      <package pattern="AgentBlazor*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
