{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "BlazorWebAppMoviesContext": "Data Source=App_Data/movies.db"
  },
  "OpenAI": {
    "ApiKey": "",
    "Model": "gpt-4o-mini"
  }
}
